In [1]:
from py2neo import Graph
from py2neo.data import Node, Relationship
import pandas as pd

Fetching GME stock quotes

In [2]:
#graph = Graph(scheme="bolt", host="localhost", port="7787", user="neo4j", password="neo4j1")

In [3]:
#Cloud
graph = Graph(scheme="bolt", host="54.90.165.10", port="7687", user="neo4j", password="clicks-haul-qualifier")

In [4]:
query = '''
MATCH (stock)-[r:TRADING_HOUR]->(stockQuote) 
RETURN stock.name,
stockQuote.timestamp_utc,
stockQuote.open,
stockQuote.high,
stockQuote.low,
stockQuote.close,
stockQuote.volume
'''
result = graph.query(query)
stockQuotesDf = pd.DataFrame(result)
stockQuotesDf.rename(columns={0:'ticker', 1:'timestamp_utc', 2:'open', 3:'high', 
                        4:'low', 5:'close', 6:'volume'}, inplace=True)

In [5]:
stockQuotesDf

,ticker,timestamp_utc,open,high,low,close,volume
0,GME,2021-01-04T14:30:00.000000000+00:00,19.055000,19.058800,17.150000,17.899900,3104360
1,GME,2021-01-04T15:30:00.000000000+00:00,17.874701,18.110001,17.260000,17.520000,2386728
2,GME,2021-01-04T16:30:00.000000000+00:00,17.530001,17.820000,17.440001,17.760000,960711
3,GME,2021-01-04T17:30:00.000000000+00:00,17.750000,17.820000,17.508101,17.590000,526246
4,GME,2021-01-04T18:30:00.000000000+00:00,17.600000,17.639999,17.469999,17.530001,705828
...,...,...,...,...,...,...,...
261,GME,2021-02-26T16:30:00.000000000+00:00,113.970001,116.989998,92.000000,93.070000,12935280
262,GME,2021-02-26T17:30:00.000000000+00:00,93.553200,105.989998,86.000000,99.431198,15000360
263,GME,2021-02-26T18:30:00.000000000+00:00,99.639198,103.900002,97.000000,101.709900,7424071
264,GME,2021-02-26T19:30:00.000000000+00:00,101.790001,125.000000,100.300003,109.330002,17175356
265,GME,2021-02-26T20:30:00.000000000+00:00,109.040001,111.180000,100.000000,101.599899,5421881

In [8]:
stockQuotesDf.to_csv('../data/from_db/stock_quotes.csv', sep=',', index=False)